.app {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 30px;
  height: 100vh; 
  box-sizing: border-box;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

body {
  background: url("./background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 0; 
  padding: 0; 
}

