.app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 100vh;
  box-sizing: border-box;
}

.game {
  width: 560px;
  height: 560px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0;
}

.game img {
  width: 70px;
  height: 70px;
}

body {
  background: url("./background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: palevioletred;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: palevioletred;
}

button:focus {
  outline: none;
}

